.svgCurve{
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: hsl(var(--nextui-content1) / var(--nextui-content1-opacity, 1));
    stroke: none;
}
