@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
	--x: 0;
	--y: 0;
  }
  

  html,
  body {
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .scroll::-webkit-scrollbar{
    display: none;
  }
  
  ::-webkit-scrollbar{
    display: none;
  }

  .admin-navbar{
    nav{
      header{
        min-width: unset;
      }
    }
  }
  nav{
    header{
      min-width: 100vw;
    }
  }

.main-contant{
  nav{
    header{
      min-width:unset;
    }
  }
}
a{
  text-decoration: none;
  color: #fff;
}

body{
  overflow-x: hidden;
}
/* width */
.main-contant-items::-webkit-scrollbar {
display: none;
}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(255 255 255 / .1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #202022;
  }
  
  html.lenis, html.lenis body {
    height: auto;
  }
  
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.slick-slider{
  height: 100%;
  width: 100%;
  overflow-y: unset;
}
.slick-list{
  overflow: unset;
  padding-top: 70px;
}
.slick-track{
  display: flex;
  gap: 15px;
}

.slick-slide{
  min-width: 250px;
  max-width: 300px;
}

.discription_scroll::-webkit-scrollbar {
  display: none;
}

.container_background{    /* Basic dimensions and centering */
  background-color: transparent;
  background-image: radial-gradient(#cdcdcd8a .5px, #ffffff 1px);
  background-size: 15px 15px;
}

.product__dot {
  position: absolute;
  background-color: #0000006e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1000;
  top: -300px;
  left: 50px;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
