@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
nav{
  header{
    min-width: 100vw;
  }
}
.main-contant{
  nav{
    header{
      min-width:unset;
    }
  }
}
a{
  text-decoration: none;
  color: #fff;
}

body{
  overflow-x: hidden;
}
/* width */
.main-contant-items::-webkit-scrollbar {
display: none;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background:  rgb(255 255 255 / .1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #202022;
  }

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
